<div class="row well robots">
  <h1 class="robots" id='greeting'>All Robots in the Golem Yard</h1>
</div>
  <% @robots.each_with_index do |robot, index| %>
    <%= "<div class='row well robots'>"  if (index % 3 == 0) %>
      <div class='col-md-4'>
        <a href="/robots/<%= robot.id %>"><%= robot.name %></a>
        <p><img src="<%= robot.avatar %>" title="Robot <%= robot.id %>"></p>
        <p><A HREF ="/robots/<%= robot.id %>/edit" class="btn btn-primary">Edit</A>
        <form action="/robots/<%= robot.id %>" method="post">
          <input type="hidden"  name="_method" value="delete">
          <input type="submit" value="Delete" class="btn btn-primary">
        </form></p>
      </div>
    <%= "</div>" if (index + 1) % 3 == 0 %>
  <% end %>
</div>
