<h1></h1>
</div>
</div>

<div class="row well-sm">

  <table>
    <% @robots.each_with_index do |robot, index| %>
      <%= "<tr>" if index % 3 == 0 %>
        <div class="col-med-4">
          <td id="robots"><a href="/robots/<%= robot.id %>"><%= robot.name %></a>
            <p><img src="<%= robot.avatar %>"></p>
            <p><A HREF ="/robots/<%= robot.id %>/edit">Edit</A></p>
            <p><form action="/robots/<%= robot.id %>" method="post">
              <input type="hidden"  name="_method" value="delete">
              <input type="submit" value="Delete">
            </form></p>
          </td>
      <%= "</tr>" if (index + 1) % 3 == 0 %>
    <% end %>
  </ul>
</div>
</div>
</div>
