<h1></h1>
</div>
</div>

<div class="row well-sm">
<div class="col-med-4">
  <ul>
    <% @robots.each do |robot| %>
    <li id="robots"><a href="/robots/<%= robot.id %>"><%= robot.name %></a>
      <A HREF ="/robots/<%= robot.id %>/edit">Edit</A>
    <form action="/robots/<%= robot.id %>" method="post">
      <input type="hidden"  name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
      <br/><%= robot.city %>
      <br/><%= robot.state %>
      <br/><%= robot.birthday %>
      <br/><%= robot.date_hired %>
      <br/><%= robot.department %>
    <% end %>
  </ul>
</div>
</div>
</div>
