<div class="row well robots">
  <div class="col-md-12">
    <h1 id="greeting">Viewing: <%= @robot.name %></h1>
  </div>
</div>

<div class="row well robots dashboard">
  <div class="col-md-4">
    <p><img src="<%= @robot.avatar %>"><p>
    <br/>City: <%= @robot.city %>
    <br/>Department: <%= @robot.department %>

    <p><A HREF ="/robots/<%= @robot.id %>/edit" class="btn btn-primary">Edit</A>
    <p><form action="/robots/<%= @robot.id %>" method="post">
    <input type="hidden"  name="_method" value="delete">
      <input type="submit" value="Delete" class="btn btn-primary">
    </form></p>
  </div>
</div>
